/* 1️⃣ Import the Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import "tailwindcss";


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}


body {
  font-family: "Poppins", sans-serif;
}
